body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
       overflow: scroll;
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
position: relative;
margin-left: auto;
margin-right: auto;
width: fit-content;
}

.title-labels{
color: white;
}

.home-page-body{
position: relative;
margin-left: auto;
margin-right: auto;
width: 100%;
}


#canada{
position: absolute;
bottom: 60%;
left: 14%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#brazil{
position: absolute;
bottom: 29.75%;
left: 29%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#mexico{
position: absolute;
bottom: 41%;
left: 16%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#europe{
position: absolute;
bottom: 57%;
left: 48%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#china{
position: absolute;
bottom: 46.5%;
left: 72.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#russia{
position: absolute;
bottom: 65%;
left: 71.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#australia{
position: absolute;
bottom: 22.5%;
left: 80.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#india{
position: absolute;
bottom: 40%;
left: 65.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#argentina{
position: absolute;
bottom: 18%;
left: 26%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#iran{
position: absolute;
bottom: 46%;
left: 59%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#japan{
position: absolute;
bottom: 50%;
left: 83%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#algeria{
position: absolute;
bottom: 47.5%;
left: 44.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#south-africa{
position: absolute;
bottom: 18.75%;
left: 51.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#egypt{
position: absolute;
bottom: 45.75%;
left: 52%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#iceland{
position: absolute;
bottom: 72%;
left: 39%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#sweden{
position: absolute;
bottom: 66.5%;
left: 48%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#kazakhstan{
position: absolute;
bottom: 60%;
left: 62.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#nigeria{
position: absolute;
bottom: 37%;
left: 45%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#peru{
position: absolute;
bottom: 25.5%;
left: 22%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#uruguay{
position: absolute;
bottom: 16%;
left: 29%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#bolivia{
position: absolute;
bottom: 25.5%;
left: 26%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#angola{
position: absolute;
bottom: 25.5%;
left: 47.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#paraguay{
position: absolute;
bottom: 21%;
left: 28%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#ghana{
position: absolute;
bottom: 35.25%;
left: 42.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#turkey{
position: absolute;
bottom: 51%;
left: 52.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#iraq{
position: absolute;
bottom: 50%;
left: 55.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#ethiopia{
position: absolute;
bottom: 37.25%;
left: 55%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#ukraine{
position: absolute;
bottom: 56%;
left: 53%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#columbia{
position: absolute;
bottom: 32.75%;
left: 25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#mongolia{
position: absolute;
bottom: 54%;
left: 73%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#philippines{
position: absolute;
bottom: 36.5%;
left: 78.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#saudi-arabia{
position: absolute;
bottom: 41.5%;
left: 56.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#ecuador{
position: absolute;
bottom: 31.5%;
left: 22%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#poland{
position: absolute;
bottom: 61.75%;
left: 50%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#libya{
position: absolute;
bottom: 43%;
left: 50%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#south-korea{
position: absolute;
bottom: 50%;
left: 79%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#thailand{
position: absolute;
bottom: 39%;
left: 72%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#guyana{
position: absolute;
bottom: 33.5%;
left: 27.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#chile{
position: absolute;
bottom: 15%;
left: 24%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#new-zealand{
position: absolute;
bottom: 10%;
left: 92%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

 #fiji{
position: absolute;
bottom: 24.25%;
left: 93.25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#madagascar{
position: absolute;
bottom: 22%;
left: 56.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#indonesia{
position: absolute;
bottom: 30%;
left: 72.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#papua-new-guinea{
position: absolute;
bottom: 28%;
left: 84.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#pakistan{
position: absolute;
bottom: 42.5%;
left: 62%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#congo{
position: absolute;
bottom: 31.5%;
left: 50.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#england{
position: absolute;
bottom: 62%;
left: 43%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}