body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
       overflow: scroll;
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
position: relative;
margin-left: auto;
margin-right: auto;
width: fit-content;
}

.title-labels{
color: white;
}

.home-page-body{
position: relative;
margin-left: auto;
margin-right: auto;
width: 100%;
}


#canada{
position: absolute;
bottom: 62%;
left: 15%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#brazil{
position: absolute;
bottom: 30.75%;
left: 30%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#mexico{
position: absolute;
bottom: 43%;
left: 16%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#europe{
position: absolute;
bottom: 58%;
left: 49%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#china{
position: absolute;
bottom: 48.5%;
left: 73.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#russia{
position: absolute;
bottom: 65%;
left: 71.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#australia{
position: absolute;
bottom: 23.5%;
left: 81.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#india{
position: absolute;
bottom: 42.25%;
left: 66.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#argentina{
position: absolute;
bottom: 18%;
left: 27%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#iran{
position: absolute;
bottom: 48.5%;
left: 60%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#japan{
position: absolute;
bottom: 52%;
left: 84%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#algeria{
position: absolute;
bottom: 48.5%;
left: 45.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#south-africa{
position: absolute;
bottom: 19.75%;
left: 52.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#egypt{
position: absolute;
bottom: 46.25%;
left: 53.25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#iceland{
position: absolute;
bottom: 73%;
left: 40%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#sweden{
position: absolute;
bottom: 68.5%;
left: 49%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#kazakhstan{
position: absolute;
bottom: 61%;
left: 63.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#nigeria{
position: absolute;
bottom: 38.25%;
left: 46.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#peru{
position: absolute;
bottom: 26.75%;
left: 23.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#uruguay{
position: absolute;
bottom: 17%;
left: 29.25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#bolivia{
position: absolute;
bottom: 26.5%;
left: 27%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#angola{
position: absolute;
bottom: 26.25%;
left: 49.25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#paraguay{
position: absolute;
bottom: 22%;
left: 29%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#ghana{
position: absolute;
bottom: 36.25%;
left: 43.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#turkey{
position: absolute;
bottom: 52.5%;
left: 53.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#iraq{
position: absolute;
bottom: 50.5%;
left: 57.25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#ethiopia{
position: absolute;
bottom: 38.25%;
left: 56%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#ukraine{
position: absolute;
bottom: 57.75%;
left: 54.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#columbia{
position: absolute;
bottom: 34.75%;
left: 25.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#mongolia{
position: absolute;
bottom: 56%;
left: 74%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#philippines{
position: absolute;
bottom: 37.5%;
left: 79.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#saudi-arabia{
position: absolute;
bottom: 42.5%;
left: 57.25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#ecuador{
position: absolute;
bottom: 32.5%;
left: 23%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#poland{
position: absolute;
bottom: 62.25%;
left: 51%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#libya{
position: absolute;
bottom: 44%;
left: 51%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#south-korea{
position: absolute;
bottom: 51%;
left: 80.25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#thailand{
position: absolute;
bottom: 40%;
left: 73%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#guyana{
position: absolute;
bottom: 34.5%;
left: 28.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#chile{
position: absolute;
bottom: 16%;
left: 25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#new-zealand{
position: absolute;
bottom: 11%;
left: 93%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

 #fiji{
position: absolute;
bottom: 25.25%;
left: 94.25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#madagascar{
position: absolute;
bottom: 23%;
left: 57.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#indonesia{
position: absolute;
bottom: 31%;
left: 73.75%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#papua-new-guinea{
position: absolute;
bottom: 30%;
left: 85%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#pakistan{
position: absolute;
bottom: 45.25%;
left: 64%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#congo{
position: absolute;
bottom: 32.5%;
left: 51.5%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}

#england{
position: absolute;
bottom: 63%;
left: 44.25%;
border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
}